.contact{
	width: 100%;
	height: auto;
	display: flex;
  	justify-content: center;
  	flex-wrap: wrap;
  	margin-top: 20px;
}

.text{
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 149.487%;
	text-align: center;
	width: 68%;
	color: #889099;
	margin-top: 10px;
}

.contact-mam{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact-block {
    height: auto;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.contact-cercle{
	display: flex;
	width: 44px;
	height: 44px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 50px;
	background: #FBDD37;
	color: #373D43;
}

.text-contact-block {
	margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	margin-left: 35px;
}

.first-text-contact{
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 149.487%;
	color: #889099;
	margin: 0;
}

.second-text-contact{
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 149.487%;
	color: #373D43;
	margin: 0;
}
@media screen and (max-width: 1600px){
	.contact1{
		width: 46% !important;
	}
	.contact2{
		width: 52% !important;
	}
}
@media screen and (max-width: 1500px){
	.text-contact-block{
		margin-left: 10px;
	}
}
@media screen and (max-width: 1300px){
	.contact1{
		width: 45.5% !important;
	}
	.contact2{
		width: 50% !important;
	}
}
@media screen and (max-width: 1100px){
	.contact-padding{
		flex-direction: column;
	}
	.contact-mam{
		width: 100% !important;
	}
	.contact2{
		margin-top: 20px;
	}
	.contact-block{
		margin: 0;
		align-items: center;
	}
	.cont-block{
		margin-right: 35px;
	}
	.text-contact-block{
		margin-left: 15px;
	}
}
@media screen and (max-width: 500px){
	.contact-padding{
		align-items: center;
	}
	.contact-mam{
		flex-direction: column;
		width: auto !important;
	}
	.contact2{
		margin-top: 0;
	}
}
@media screen and (max-width: 300px){
	.contact-cercle{
		width: 35px;
		height: 35px;
	}
	.first-text-contact{
		font-size: 7vw;
	}
	.second-text-contact{
		font-size: 7vw;
	}
}